
@import "tailwindcss";

.slider-track {
  display: flex;
  width: max-content;
  animation: scroll 10s linear infinite;
}

.slide-item {
  flex-shrink: 0;
  padding: 0 24px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out;
}


